
.bannerText{
	font-family: 'DinasHandwriting'!important;
}

.archive .filter-by-days, .archive .listing_filters_head .col-md-2, #pack_recuring, label[for=pack_recuring], label[for=pack_recurring] {
	display: none;
}
.archive .listing_filters_head .col-md-2:nth-child(3) {
	displaY:block;
}
#more_contact_details {
	margin-top:20px;
	padding: 3px 0;
	font-size:10px;
}
#more_contact_details, #more_contact_details-bot {
	background-color: #5982eb;
	color: #fff;
}
.websiteexlink a {
	background-color:#85bf31;
	color:#fff;
}
body * {
	transition: all 0.2s ease;
}
.websiteexlink a:hover, #more_contact_details:hover {
    background-color: rgba(232, 30, 124, 1);
}
.archive .listing_filters_head.col-md-5 {
	display:none;
}

.contact-wrapper {
	padding-top:0;
}
a.property-phone:hover, a.property-email:hover {
	color: #f4d919;
	background-color: #e81e7c;
}

a.property-phone, a.property-email {
	background-color: #f4d919;
	color: #e81e7c;
}
.third-form-wrapper .listing_detail {
	padding:0;
}
.property_listing {
	width: 100%;
}
.property_listing .property_hero_thumb {
	background-position:center;
}
.page-template-contact_page textarea {
	width: 100%;
	resize:none;
}
.wpcf7 form.sent .wpcf7-response-output {
	float:left;
}
.page-template-contact_page .wpcf7 input, .page-template-contact_page .wpcf7 textarea {
	font-family: 'Dinas Handwriting';
	padding:10px;
}
.page-template-contact_page .wpcf7 input[type="submit"] {
	width: 33%;
	float:left;
	font-family: 'Dinas Handwriting';
	background-color: #f4d919 !important;
	font-size: 1.8rem;
	color: #fff;
}
.wpcf7 input[type=file] {
	width: 300px;
	padding: 7px;
}
.tickboxes {
	padding: 0px;
}
.paypalaward {
	white-space: nowrap;
}
.wpcf7 .row, .wpcf7 h4 {
	margin: 10px 0
}
.wpcf7 p, .wpcf7 h4, .wpcf7 input, .wpcf7 label, .wpcf7 span{
	font-family: arial;
}
.bsaProItems.bsaGridGutter .bsaProItem.bsaHidden {
	display:unset!important;
}
/* Dashboard Listing Toggle */
.text-view .weblink input {
	font-size: 12px;
	width: 150px;
	margin: 5 0
}
.text-view .weblink {
	padding: 0;
	margin: 0;
}

.is_dashboard_page .toggle-on {
	background-color: #e81e7c !important;
	color:#f4d919;
}
.text-view .info-container {
	display: flex;
	width:unset;
	margin-top:0;
}
.info-container-payments {
	bottom: unset;
}
.text-view .info-container-payments {
	padding-left:0px;
	bottom: 0;
	border-bottom: 0;
}
.text-view .dasboard-prop-listing {
	max-width: unset;
}
.text-view .listing_title {
	width: 80%;
	padding: 10px 20px;
	margin:0;
}
.text-view .listing_submit {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 10;
	justify-content: space-between;
}
.listing_submit {
	bottom: 0;
	background-color:#f4f6f9;
	padding: 22px 50px 80px 10px;
}
.text-view .upOption, .text-view .totFeebox {
	height: 100%;
	margin:0;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.is_dashboard_page .text-view input[type="checkbox"] {
	margin: 0;
	margin-right:10px;
}
.totFeebox span:before, .upOption span:before {
	content: "£";
}
.listing_submit_spacer {
    height: 55px !important;
}
@media only screen and (max-width: 768px) {
	.text-view .info-container-payments {
		bottom: -1px;
	}
	.text-view .listing_submit {
		flex-direction: column;
		height: 400px;
		position: fixed;
		top: 30vh;
		left: 0;
	}
	
}
@media only screen and (min-width: 769px) {
	.text-view .user_dashboard_status {
		right:30%;
	}
	.text-view .prop-info {
		flex-wrap: nowrap;
		align-items:center;
	}
	/* End Dashboard Toggle */

	/* Hide Mobile Form on Desktop */

	#booking_form_request_bottom {
		display:none;
		visibility:hidden;
	}
}
/* Fix Buttons */
/* 	Category Listing DT */
.tax_tagline a:hover {
	color: #e81e7c;
}
.tax_tagline a {
	color: #f4d919;
}
.clubthumblink {
		display: inline-block;
    justify-content: center;
    margin: 0px;
    float: unset;
    width: 60%;
		border-radius: 6px;
}
.socialcon {
	display: flex;
	float: left;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}
.listesoc {
	padding:0;
	margin-top: 20px;
	width: 60px;
}
.listesoc:nth-child(2n) {
	margin-right: 10px;
	margin-left: 10px;
}
.listesoc i {
	padding: 10px;
	width: 60px
}
.clubthumblink {
	overflow-wrap: anywhere;
}
/* DT map template */
#remove-filter-by-distance {
	display:none;
	visibility: hidden;
}
#access a {
	padding: 8px 10px 18px;
}
.single-post #adv-search-mobile {
	display: none;
}
.dashboad-tooltip {
	background-color:#f4d919!important;
	border-color:#000;
}
.dashboad-tooltip i {
 color:#000;
}
.activate_payments 
{
	margin:0;
	height:45px;
	vertical-align: middle;
	padding-top:12px
}
/* 404 Search */
/* .error404 .adv-2-header, .error404 .adv-search-2 {
	position: relative;
	float:left;
	margin-top: 20px;
	align-self:center;
	padding: 15px 0;
}
.error404 .single-content {
	display:flex;
	flex-direction:column;
	justify-content: center;
	text-align: center;
}
.error404 .adv-2-wrapper {
	display:none;
}
.error404 .caret:after {
	right: -5px;
}
.list404 {
	text-align:left;
} */
/* iTrust Widget */
.iTrust-header {
	width: 200px;
	position: absolute;
	left: 170px;
	transform: scale(0.6);
}
.iTrust-header div.ts-widgetBody {
	display: flex !important;
	justify-content: center;
	align-items: center;
	height: 100px !important;
	width: 200px !important;
}
.iTrust-header a.ts-widgetLinkReviewer {
	position: absolute !important;
	top: 0 !important;	
}
.iTrust-header div.ts-big div.ts-widgetContent {
	position: static !important;
  bottom: 0 !important;
}
.iTrust-header .ts-widgetLogo {
	position: absolute !important;
	top: 5px !important;
	left: 5px !important;
	width: 70px !important;
	height: 50px !important;
	background-size: contain !important;
}
.iTrust-header div.ts-big .ts-stars {
	position: absolute !important;
	bottom: 20px !important;
	top: unset !important;
	right: unset !important;
	left: 25px !important;
}

.iTrust-header .ts-widgetScore {
	position: absolute !important;
	top: 20px !important;
	right: 10px !important;
}
.iTrust-header .cleanslate a {
	bottom: 0 !important;
	top: unset !important;
	left: 0 !important;
	font-size: 16px !important;
}
.iTrust {
	z-index: 1;
}
@media only screen and (min-width: 1500px) {
	.iTrust {
		position: absolute;
		right: -160px;
		top: -200px;
	}
}
@media only screen and (min-width: 992px) and (max-width:1499px) {
	.iTrust {
		position: absolute;
  	right: 0px;
		top: -300px;
	}
}
@media only screen and (max-width: 991px) {
	.iTrust {
		text-align: center;
		z-index: 0;
	}
}
.booking_form_request .cleanslate.ts-widget, 
.booking_form_request_bottom .cleanslate.ts-widget {
	margin-top: 20px !important;
	width: 100% !important;
}
/* End ITrust */
@media only screen and (max-width: 568px) {
.dashboard-header {
    display:unset;
	}
	.dashboard-header p {
		padding-left: 20px;
	}
}
.is_dashboard_page input[type=button] {
	white-space: pre-wrap;
	margin-right: 20px;
}
.max-upgrade {
	padding: 0 5vw;
}
.max-upgrade h2 {
	text-align: center;
	font-size: 3rem;
}
/* Form Styles - DT */

.checklink .wpcf7-list-item-label {
	color: rgba(232,30,124,1);
	cursor: pointer;
}
.checklink .wpcf7-list-item-label:hover {
	color: #f4d919;
}
@media only screen and (max-width: 768px) {
.checkbox-awards span.wpcf7-list-item {
	width: 100%;
	}
	
	.listing_type_1.widget-area-sidebar  {
		display: none;
		visibility: hidden;
	}
}
/*  */
@media only screen and (max-width: 768px) {
	.home .child_interest_close {
		right: -20px;
	}
}
@media (max-width: 1200px) {
	.filter_menu_trigger {
    font-size: 16px !important;
	}
}
.has-child-icon:after {
	z-index: 99 !important;
}
.form-control, .filter_menu_trigger, .advanced_search_shortcode .filter_menu_trigger {
	font-size: 14px !important;
	white-space: nowrap;
	overflow: hidden;
	border-radius:6px;
}
.thumbloc {
    background: rgba(232, 30, 124, 1);
    padding: 0px 15px;
    text-align: center;
    min-height: 50px;
    line-height: 50px!important;
}

#tpbr_box{
	padding: 15px 0px 30px 0px;
}

#close-top-bar {
    top: inherit;
    left: 48%;
    bottom: 6px;
}

#close-top-bar a{
	color:#ffffff!important;
}

#close-top-bar .close-top-bar-btn:after{
	content:'Close';
	padding-left:5px;
	color:#ffffff;
}
.bsaProItemInner__img {
    width: 336px;
    min-height: 280px;
}

.property_flex{
	max-height:750px;
	overflow:hidden;
}

.shortcode_slider_list li{
	vertical-align:bottom;
	background:#ffffff;
	margin-bottom:60px;
	overflow:hidden;
}

#bsa-block-336--280.bsaProContainerNew .bsaProItem, #bsa-block-336--280 .bsaProItemInner__thumb, #bsa-block-336--280 .bsaProAnimateThumb {
    max-width: 336px;
    min-width: 336px;
    min-height: 280px;
    max-height: 280px;
}

.adv-2-header, .adv-2-wrapper, .adv-search-2{
	width:375px;
}

.report-club .btn {
    border-bottom: none;
    box-shadow: none;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #e81e7c;
    font-size: 13px;
    padding: 20px;
    text-transform: capitalize;
    margin-left: 0;
    background: #f4d919!important;
    width: 100%!important;
}

.report-club .btn:hover{
	background:#e81e7c !important;
	color: #f4d919;
}

.listing-unit-img-wrapper .property_hero_thumb {
    height: 200px;
    position: relative;
    overflow: hidden;
}
.listing-unit-img-wrapper .property_hero_thumb img {
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ult_design_1 .ult_pricing_table .ult_price_body {
    font-size: 18px;
    width: auto!important;
    height: auto!important;
}

.single-mec-events #mec_book_form label{
	display:none;
}

#access li:nth-of-type(8) {
    border-bottom: 5px #f0da48 solid;
}

#recaptcha-g{
	  display: inline-block;
    margin-bottom: 15px;
}

.logged-in #searchformhead {
    margin-right: 186px;
}
#bsa-block-336--280 .bsaProItemInner__img{
	width: 336px;
}
#second .bsaProContainerNew .bsaProHeader .bsaProHeader__title {
    width: 100%;
}

.entry-tax {
    position: absolute;
    top: 35%;
    left: 100px;
    right: auto;
    margin-top: -54px;
    z-index: 11;
    text-align: left;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    width: 50%;
	  line-height: 1.3;
    display: block;
}

.tax_tagline {
    position: absolute;
    top: 40%;
    left: 100px;
    right: auto;
    z-index: 11;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
    width: 50%;
}

.tax-property_city .listing-unit-img-wrapper {
    position: relative;
    z-index: 98;
    background-color: #fff;
    min-height: 230px;
}

.tax-property_city .property_listing img {
    margin: auto;
	  max-height:230px;
}

.tax-property_city .category_tagline span{
	min-height:120px;
	max-height: 120px;
	overflow: hidden;
}

#extemailform input, #extemailform_bottom input {
    width: 100%;
    padding: 20px;
    margin: 6px 0;
}

.tax-property_city .category_name{
	max-height:230px;
	min-height:230px;
}
#first h2 {
    font-size: 16px;
    line-height: 1.3em;
    color: #000;
    font-family: 'Dinas Handwriting';
    font-weight: 700;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}

.user_dashboard_panel .form-control{
	font-family: 'Outfit', sans-serif;
}

form#club_form, #period_checkin_change_over, #period_checkin_checkout_change_over, #checkin_checkout_change_over, #checkin_change_over, #new_post2 select, #new_post select, form#club_form .terms p, .user_dashboard_panel_title {
    font-family: raleway,sans-serif!important;
}
@media only screen and (max-width: 1550px) {
	.entry-tax{
		top: 25%;
	}
}
@media only screen and (max-width: 768px) {
	.entry-tax{
		top: 25%;
		left: 0;
    padding: 0 20px;
    width: 100%;
		font-size:36px;
	}
	.tax_tagline{
		left: 0;
    padding: 0 20px;
    width: 100%;
	}
	
	#close-top-bar {
		left: 44%;
	}
}
@media only screen and (max-width: 768px){
	#footer-base {
			height: 250px;
			background-position-x: center;
			background-size: auto;
			background-position: bottom;
	}
	
	#club_form input {
		overflow-x: auto;
	}
	
	textarea.input-textarea {
		overflow-x: auto;	
		padding-left: 12px;
		padding-right: 12px;
	}
	
}

@media only screen and (max-width: 500px){

	#ownerpgesec h1.vc_custom_heading{font-size:35px !important;}
	
	#ownerpgesec .clicksubmit h1{font-size:22px !important;}
	
	#ownerpgesec .clicksubmit{margin-bottom:15px !important;}
	
	#ownerpgesec .submitbttn #submit_action{margin-left: 0px;
padding: 15px 26px !important;
font-size: 24px !important;
letter-spacing: 2px;}
#ownerpgesec .submitbttn{line-height:3.6em !important}	
#ownerpgesec .height40px{height:10px !important}
}



@media only screen and (max-width: 350px){
	#ownerpgesec h1.vc_custom_heading{font-size:30px !important;}
	
	#ownerpgesec .clicksubmit h1{font-size:18px !important;}
	#ownerpgesec .submitbttn #submit_action{margin-left: 0px;
padding: 10px 26px !important;
font-size: 24px !important;
letter-spacing: 2px;}
}

.order-last {float: right;}
.order-first {float:left;}


#property_description {
	white-space: normal !important;
	overflow-y: auto;
}

textarea.input-textarea {
	height: 50px;
    vertical-align: top;
    padding-top: 12px;
    padding-left: 12px;
	padding-right: 6px;
	background: #fff;
    background-size: 100% 100%!important;
    border: 0;
    background-position: 0px 0px!important;
    background-repeat: no-repeat;
}

/* Some Garbage that was left in the theme options */

.is_dashboard_page input[type="checkbox"]{
background: #ffffff!important;
    border: 2px solid #000!important;
    width: 20px;
    height: 20px;
}

.similar_listings_wrapper{
background:#fff;
}

#popleftpink{
    width: 15%!important;
    vertical-align: middle!important;
    margin-left: 0px!important;
}

#popleftpink img{
    border-radius: 100%;
    border: 4px solid #f4d919;

}

#poprightpink{
    width: 82%!important;
    margin-left: 0%!important;
    vertical-align: middle!important;
}

#popupalert h4 {
    color: #f4d919 !important;
    font-size: 1.3em!important;
    line-height: 1.5em;
    text-align: left;
    font-family: raleway,sans-serif;
}

.thumbloc{
    background: rgba(232, 30, 124, 1);
    padding: 5px 15px;
    text-align:center;
}

.thumbloc a{
color:#f4d919!important;
    font-family: 'DinasHandwriting';

}

.thumbloc a:hover{
color:#fff!important;
}

.websiteexlink{
    display: block;
    font-size: 12px;
    position: relative;
}

.websiteexlink a{
    background: rgba(232, 30, 124, 1);
    padding: 15px 40px;
    color: #f4d919;
    font-size: 12px;
}

.page-template-user_dashboard #popupalert {
    width: 100%!important;
    text-align: center;
    background-color: rgba(232, 30, 124, 1);
    padding: 20px 20px;
    color: white;
    display: inline-block;
    position: relative;
}
.page-template-user_dashboard #popupalert h2{
    margin-top: 0px;
    line-height: normal;
    margin-bottom: 15px;
}

.page-template-user_dashboard #popupalert h4 a{
    color: #f4d919;
}

.page-template-user_dashboard #popupalert h4 a:hover{
    color: #ffffff;
}

.category_tagline span{
    float: inherit;
    margin-bottom: 15px;
    display: initial!important;
    width:100%!important;
}

.category_tagline br{
	display: contents!important;
}

.category_tagline img {
    margin-right: 5px!important;
    max-width: 25px;
    vertical-align: top;
    margin-bottom: 10px;
}


#ContactHeadr{
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;
    color: rgba(232, 30, 124, 1);
}

.third-form-wrapper .col-md-12{
padding:0px;
}

.third-form-wrapper .listing_detail{
padding: 20px 0px 0px 0px;
    color: #000;
        font-family: 'DinasHandwriting';

    font-size: 18px;
    font-weight: 700;
text-align:center;
}

.third-form-wrapper .item_head {
    color: #5d6475;
    font-size: 20px;
    font-weight: 700;
	display: block;
}

.mec-single-event .mec-events-meta-group-countdown {
    color: rgba(232,30,124,1)!important;
}

.listesoc {
    font-size: 38px;
    padding-right: 60px;
    padding-top: 30px;
    display: inline-block;
    float: right;
}
.listing_detail {
    padding: 5px 20px 5px 0px;
    color: #000;
        font-family: 'DinasHandwriting';

}
@media only screen and (max-width: 1024px){
	
	.third-form-wrapper .listing_detail{
		font-size: 14px;
		word-break: break-word;
	}
	.listesoc {
		font-size: 28px;
		padding-right: 0px;
		text-align: center;
		width: 33%;
	}
}

@media only screen and (max-width: 568px){
	
	.third-form-wrapper .listing_detail{
		font-size: 13px;
		word-break: break-word;
	}
	
	.listesoc {
		font-size: 28px;
		padding-right: 0px;
		text-align: center;
		width: 33%;
	}
}

.mec-event-ticket-available{
 color: rgba(232,30,124,1)!important;
}
.mec-single-event .mec-events-meta-group-booking button {
    color: rgba(232,30,124,1)!important;
    float: unset;
}

.mec-wrap h2 {
    font-size: 36px;
    line-height: 1.14;
    margin-bottom: 30px;
    text-align: center;
}

.mec-wrap h2 span{
color: rgba(232,30,124,1)!important;
}

.mec-wrap .mec-single-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 72px;
        font-family: 'DinasHandwriting';

    text-align: center;
}

.mec-event-content p {
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.frm_style_formidable-style.with_frm_style div.frm_description {
    margin: 0;
    font-family: 'Raleway',sans-serif!important;
    padding: 5px 0px!important;
    font-size: 13px!important;
    font-weight: 600!important;
    color: rgba(232, 30, 124, 1)!important;
    text-align: left;
    font-style: normal;
    max-width: 100%;
}

.logo img {
    max-width: 175px!important;
    max-height: 70px;
}

.page-id-42441 .frm_style_formidable-style.with_frm_style .frm_message, .page-id-42441 .frm_success_style {
    border: 1px solid rgba(232,30,124,1);
    background-color: rgba(232,30,124,1);
    color: #f4d919;
    border-radius: 4px;
}

.page-id-42441 .frm_style_formidable-style.with_frm_style .frm_message p {
    color: #f4d919;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 0px 30px;
}

.single-mec-events .vc_btn3.vc_btn3-color-grey, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
    color: rgba(232,30,124,1);
    background-color: #f4d919;
    border: 5px solid #000;
font-size: 32px;
    padding: 45px 25px;
        font-family: 'DinasHandwriting';

border-radius:4px;
}

.vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-grey:focus, .vc_btn3.vc_btn3-color-grey:hover {
    color: #f4d919;
    background-color: rgba(232,30,124,1);
}

.frm_style_formidable-style.with_frm_style input[type=text], .frm_style_formidable-style.with_frm_style input[type=password], .frm_style_formidable-style.with_frm_style input[type=email], .frm_style_formidable-style.with_frm_style input[type=number], .frm_style_formidable-style.with_frm_style input[type=url], .frm_style_formidable-style.with_frm_style input[type=tel], .frm_style_formidable-style.with_frm_style input[type=file], .frm_style_formidable-style.with_frm_style input[type=search], .frm_style_formidable-style.with_frm_style select {
        font-family: 'DinasHandwriting';

}


@media only screen and (max-width: 991px){
.mec-events-template-default #adv-search-header-mobile {
    display: none;
}

.mec-events-template-default #adv-search-mobile{
    display: none!important;
}
}


.showtip{
margin-left:45px;
}
.mec-events-template-default .header_media{
display:none;
}
.eventTitle{
    text-align: center;
    font-size: 112px;
}

@media screen and (max-width: 1200px) {
	.eventTitle{
		text-align: center;
		font-size: 82px;
	}
}


@media screen and (max-width: 568px) {
	.eventTitle{
		text-align: center;
		font-size: 52px;
	}
}


#user_terms_register_wd_label_mobile, #user_terms_register_wd_label_mobile a {
	color: #000;
	width: 200px;
}

#reg_passmail_mobile{
	color: #000;
}

#widget_login_sw_mobile, #forgot_pass_widget_mobile, #widget_register_mobile{
	color: #000;
}


@media screen and (max-width: 992px) {
	#adv-search-mobile {
		display: block;
	}
	#adv-search-mobile .form-control{
		color: #8A8F9A;
	}
	#adv-search-mobile .map_icon:after, #adv-search-mobile .calendar_icon:after {
		left: 30px;
		top: 10px;
	}
	.has-child-icon:after{
		top: 12px;
		left: 30px;
	}
	.calendar_icon input, #search_location_mobile, .child_interest {
		padding-left: 55px;
	}
}

@media screen and (max-width: 480px) {

	.mobile-logo img{
		width: 120px;
		margin-top: 18px;
	}
	
	.mobile-trigger-user i:after{
		margin-left: 15px!important;
	}
	
	.mobile_header .mobile-trigger-user i {
		margin: 17px 0px 17px 0px!important;
	}

}

.mobile_header i{
text-align:center;
color: #000;
    font-size: 24px;
    margin: 17px 20px 17px 20px;
}
.mobile_header .mobile-trigger-user  i{
    margin: 17px 10px 17px 0px;
}

.mobile-trigger i:after{
    content: "MENU";
    display: inline-block;
    float: left;
    font-size: 10px;
        font-family: 'Outfit', sans-serif!important;
    font-weight: 600!important;

    margin-top: 3px;
}

.logged-in .mobile-trigger-user i:after{
    content: "SETTINGS";
    display: inline-block;
    float: left;
    font-size: 10px;
        font-family: 'Outfit', sans-serif!important;
    font-weight: 600!important;

    margin-top: 3px;
	margin-left: 5px;
}

.mobile-trigger-user i:after{
    content: "Log in/ Register";
    display: inline-block;
    float: left;
    font-size: 10px;
        font-family: 'Outfit', sans-serif!important;
    font-weight: 600!important;

    margin-top: 3px;
	margin-left: 5px;
}

.logged-in .mobile-trigger-user{
width:70px;
}

.mobile-trigger-user{
width:100px;
}


.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: #010463;
    background-color: #f4d919;
        font-family: 'DinasHandwriting'!important;

}

.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-juicy-pink:focus, .vc_btn3.vc_btn3-color-juicy-pink:hover {
    color: #f4d919!important;
    background-color: rgba(232, 30, 124, 1)!important;
}


.vc_btn3.vc_btn3-color-purple.vc_btn3-style-modern {
    color: #fff;
    border-color: rgba(154, 20, 82, 1);
    background-color: rgba(232, 30, 124, 1);
    color: #000;
        font-family: 'DinasHandwriting';

}

.vc_btn3.vc_btn3-color-purple.vc_btn3-style-modern:hover {
    color: #f7f7f7;
    border-color: rgba(232, 30, 124, 1);
    background-color: rgba(154, 20, 82, 1);
}

.vc_btn, a.vc_btn, button.vc_btn {
    padding: 0px;

}

div.egiftcardlite_signup_box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-spacing: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    margin: 5px;
    padding: 30px;
    position: relative;
    height: auto;
   /* overflow: -webkit-paged-y;*/
}

#voucher pre {
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
}

#voucher br{
display:none;
}

.egiftcardlite_bigfont {
display:none;
}

div.egiftcardlite_signup_box label.egiftcardlite_bigfont {
    color: #000;
        font-family: 'DinasHandwriting';

    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 15px 10px 0px 25px !important;
    padding: 0 !important;
    display: block;
}

div#egiftcardlite_confirmation_container {
    font-size: 18px;
    color: #333;
    font-family: 'Outfit', sans-serif;
    line-height: 24px;
    display: block;
    margin-top: -100px;
}

select.egiftcardlite_signup_long, input.egiftcardlite_signup_long {
    font-size: 13px !important;
    line-height: 1.4 !important;
    padding: 4px 30px;
    border-spacing: 0;
    margin: 10px 0px 10px 0px;
    background-color: #FFF !important;
    height: 50px;
    min-width: 0px;
    max-width: 100%;
    width: 45%;
        font-family: 'DinasHandwriting';

}

input.egiftcardlite_signup_button {
    background: #f4d919;
    background-size: 101% 104% !important;
    background-position: -2px -1px !important;
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 30px;
        font-family: 'DinasHandwriting';

    display: block !important;
    color: #000;
    box-shadow: none;
    text-shadow: none;
    margin-left: 30px;
}

div.egiftcardlite_signup_buttons {
    height: 50px;
    margin-top: -60px;
}

p.egiftcardlite_text {
     font-family: 'Outfit', sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 30px;
}

div.egiftcardlite_signup_box em {
    background-color: transparent;
    color: #888;
    display: inline-block;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 15px 5px 0px;
    padding: 0;
    word-break: break-word;
    white-space: initial;
}

div.egiftcardlite_signup_box label {
    font-size: 14px;
        font-family: 'DinasHandwriting';

    color: #000;
    line-height: 22px;
}

div.egiftcardlite_signup_box a {
    color: rgba(232, 30, 124, 1) !important;
}

div.egiftcardlite_signup_box .egiftcardlite_addrecipient {
    display: inline-block;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    margin-left: 5px;
}

div#egiftcardlite_confirmation_container table {
    width: 100%;
    margin: 30px 0px 0px 0px;
    padding: 0px !important;
    border-width: 0px !important;
}

div#egiftcardlite_confirmation_container table tr td {
    margin: 0px;
    padding: 0px 30px 20px 30px !important;
    border-width: 0px !important;
    vertical-align: top;
    text-align: left;
    font-size: 13px;
        font-family: 'DinasHandwriting';

}

.egiftcardlite_confirmation_data em{
display:block !important;
}

div.egiftcardlite_signup_terms {
    height: 50px;
    overflow: scroll;
    border: none;
    line-height: 18px;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    margin: 20px;
    padding: 3px;
}

div.egiftcardlite_signup_box label span {
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    color: #888;
}
#poundspan {
    position: absolute;
    margin-top: 28px;
    margin-left: 16px;
    font-family: 'DinasHandwriting';
}
.chappcontain{
    background-image: url(/wp-content/uploads/appbg-1-scaled.jpg?id=115648) ;
}
.hand-picked .activities .wpb_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 780px) {
    select.egiftcardlite_signup_long, input.egiftcardlite_signup_long {
    max-width: 100%;
    width: 95%;
}
    #popleftpink{
        display: none!important;
    }
    #poprightpink{
        width: 100%!important;
    }
    .dashboard-margin{
        margin-bottom: 90px!important;
    }
    .dasboard-prop-listing{
        margin-bottom: 60px;
    }
    .submit-price {
        margin-left:5px;
    }
	.uspImage img {
		width: 30%;
	}
}
/* End of Garbage from Theme Options Design Tab*/