/**
 * Redesign wp-login scree
 */

#login h1 a, .login h1 a {
	background-image: url('../../uploads/chlogo-r.svg');
	height:65px;
	width:320px;
	background-size: 320px 65px;
	background-repeat: no-repeat;
	padding-bottom: 30px;
}

.submit .button-large {
	width: 100%;
	background-color: #f4d919;
	border-color: #f4d919;
	font-size: 18px;
	line-height: 18px;
	padding: 15px;
	font-weight: 600;
	color: #010463;
}
.submit .button-large:hover {
	background-color: rgba(232, 30, 124, 1);
	border-color: rgba(232, 30, 124, 1);
	color: #f4d919;
}